<?xml version="1.0"?>

<launch>

  <!-- Args -->
  <arg name="voxel_size" default="0.10"/>
  <arg name="grid_map_resolution" default="0.05"/>
  <arg name="grid_map_layer_name" default="elevation"/>

  <!-- ===== Conversion to Gridmap =================================== -->
  <node name="mesh_to_grid_map_node" pkg="mesh_to_grid_map" type="mesh_to_grid_map_node" output="screen" >
    <param name="grid_map_resolution" value="$(arg grid_map_resolution)" />
    <param name="layer_name" value="$(arg grid_map_layer_name)" />
    <param name="latch_grid_map_pub" value="true" />
  </node>

</launch>
