<?xml version="1.0"?>

  <launch>

    <!-- Args -->
   <arg name="grid_map_resolution"      default="0.1"/>
   <arg name="grid_map_layer_name"      default="elevation"/>
   <arg name="latch_grid_map_pub"       default="true"/>
   <arg name="load_mesh_on_startup"     default="true"/>
   <arg name="mesh_to_load_file_path"   default="/home/marcot/bags/mesh_to_grid_map/"/>
   <arg name="mesh_to_load_file_name"   default="large_hall_hagerbach_noceil.ply"/>

    <!-- ===== Conversion to Gridmap =================================== -->
   <node name="mesh_to_grid_map_node" pkg="mesh_to_grid_map" type="mesh_to_grid_map_node" output="screen" >
     <param name="grid_map_resolution"      value="$(arg grid_map_resolution)" />
     <param name="layer_name"               value="$(arg grid_map_layer_name)" />
     <param name="latch_grid_map_pub"       value="$(arg latch_grid_map_pub)" />
     <param name="load_mesh_on_startup"     value="$(arg load_mesh_on_startup)" />
     <param name="mesh_to_load_file_path"   value="$(arg mesh_to_load_file_path)" />
     <param name="mesh_to_load_file_name"   value="$(arg mesh_to_load_file_name)" />
   </node>

  </launch>
